/*
 *   The Heartbeat Engine is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   The Heartbeat Engine is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with the Heartbeat Engine. If not, see <https://www.gnu.org/licenses/>.
 */
/*  Colors */
/*Used for things like scroll bars, where active elements need differentiation*/
/* Text */
/* Misc */
QMainWindow {
  background-color: #3F4245; }

QToolBar {
  icon-size: 18px;
  /* maximum icon size */
  background-color: #3F4245;
  border-top: 1px solid #2A2A2B; }
  QToolBar QToolButton {
    padding: 2px;
    border: 0px solid transparent; }
  QToolBar#logger {
    /* The logger is pressed against another border above it */
    border-top: 0px solid transparent; }

QToolButton {
  background-color: #3F4245;
  border: 1px solid #3F4245;
  padding: 2px; }
  QToolButton:hover {
    background-color: #2D5373; }
  QToolButton:pressed {
    background-color: #213D54; }
  QToolButton:menu-indicator {
    image: none; }
  QToolButton#non-toolbar {
    /* ToolButtons that are used outside of a toolbar */
    background-color: #4E4E52;
    padding: 1px;
    border: 1px solid #3F4245; }
    QToolButton#non-toolbar:hover {
      background-color: #2D5373; }
    QToolButton#non-toolbar:pressed {
      background-color: #213D54; }
    QToolButton#non-toolbar:disabled {
      background-color: #343436; }

QTabWidget:pane {
  /* The tab widget frame */
  border-color: #2A2A2B;
  border-top: 1px solid #2A2A2B; }

QTabBar:tab {
  border: 1px solid #2A2A2B;
  border-bottom: #3F4245;
  border-top: 0px solid transparent;
  background-color: #3F4245;
  color: rgba(255, 255, 255, 80%);
  min-width: 50px;
  min-height: 20px;
  min-width: 8ex;
  padding: 2px 4px 2px 4px; }
  QTabBar:tab:hover {
    background-color: #54585C; }
  QTabBar:tab:selected {
    background-color: #585D61; }

QAbstractItemView {
  background-color: #2A2A2B;
  border: 1px solid #2A2A2B; }
  QAbstractItemView:item {
    color: rgba(255, 255, 255, 80%);
    selection-color: #585D61; }

QHeaderView {
  border: 0px solid transparent; }
  QHeaderView:section {
    background-color: #3F4245;
    color: rgba(255, 255, 255, 80%);
    border: 1px solid #2A2A2B;
    border-left: 0px solid transparent;
    padding-left: 4px; }
  QHeaderView#outliner {
    /* The outliner doesn't use a top border */ }
    QHeaderView#outliner:section {
      border-top: 0px solid transparent; }

QTreeView {
  border: 0px solid transparent;
  background-color: #2A2A2B;
  outline: none; }
  QTreeView#outliner {
    /* The outliner doesn't use any padding */
    border: 0px solid transparent;
    background-color: #2A2A2B; }
    QTreeView#outliner:item {
      padding: 0px;
      background-color: #2A2A2B;
      color: rgba(255, 255, 255, 80%);
      selection-background-color: #585D61;
      selection-color: rgba(255, 255, 255, 80%); }
      QTreeView#outliner:item:hover {
        background-color: #54585C;
        color: rgba(255, 255, 255, 80%); }
      QTreeView#outliner:item:selected:active {
        background-color: #585D61;
        color: red; }
  QTreeView:item {
    padding: 3px;
    background-color: #2A2A2B; }

QGraphicsView {
  border: 1px solid #2A2A2B;
  color: red; }
  QGraphicsView#scene-viewer {
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent; }

QAbstractScrollAreaselected:item {
  border: 0px solid transparent; }

QScrollBar:vertical {
  border-left: 1px solid #3F4245;
  background: #2A2A2B;
  width: 10px; }

QScrollBar:handle:vertical {
  background: #585C61;
  min-height: 20px; }

QScrollBar:add-line:vertical {
  background: none; }

QScrollBar:sub-line:vertical {
  background: none; }

QScrollBar:up-arrow:vertical {
  background: none; }

QScrollBar:down-arrow:vertical {
  background: none; }

QScrollBar:add-page:vertical {
  background: none; }

QScrollBar:sub-page:vertical {
  background: none; }

QMenuBar {
  background-color: #3F4245;
  border-bottom: 1px solid #2A2A2B; }
  QMenuBar:item {
    background-color: #3F4245;
    color: rgba(255, 255, 255, 80%);
    padding: 4px 8px 4px 8px; }
    QMenuBar:item:selected {
      background-color: #54585C; }
    QMenuBar:item:pressed {
      background-color: #585D61; }

QMenu {
  border: 1px solid #2A2A2B;
  background-color: #46494D;
  color: rgba(255, 255, 255, 80%); }
  QMenu:item {
    box-shadow: 0px 0px; }
    QMenu:item:selected {
      background-color: #2D5373; }

QLabel {
  color: rgba(255, 255, 255, 80%);
  font-size: 9pt; }
  QLabel#h1 {
    color: rgba(255, 255, 255, 80%);
    font-size: 11pt;
    padding: 1px; }
  QLabel#text-soft {
    color: rgba(255, 255, 255, 70%);
    font-size: 9pt; }
  QLabel#text-soft-h1 {
    color: rgba(255, 255, 255, 70%);
    font-size: 11pt; }

QSplitter:handle {
  width: 3px;
  height: 3px;
  background-color: #3F4245;
  border: 1px solid #2A2A2B; }
  QSplitter:handle:horizontal {
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent; }
  QSplitter:handle:vertical {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent; }

QComboBox {
  background-color: #4E4E52;
  border: 1px solid #3F4245;
  color: rgba(255, 255, 255, 80%); }
  QComboBox:hover {
    background-color: #5C5C61;
    outline: none; }
  QComboBox:editable {
    background: #0000FF; }
  QComboBox:drop-down {
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 1px;
    border-left-color: #2A2A2B;
    border-left-style: solid;
    /* just a single line */
    border-bottom-right-radius: 3px; }
  QComboBox QAbstractItemView {
    border: QComboBox QAbstractItemView size_border solid #3F4245;
    background-color: #46494D;
    color: rgba(255, 255, 255, 80%);
    selection-background-color: #2D5373; }

QComboBox::down-arrow {
  image: url(/usr/share/icons/crystalsvg/16x16/actions/1downarrow.png); }

QComboBox::down-arrow:on {
  /* shift the arrow when popup is open */
  top: 1px;
  left: 1px; }

QPlainTextEdit {
  background-color: #4E4E52;
  color: rgba(255, 255, 255, 80%); }

QLineEdit {
  background-color: #4E4E52;
  color: rgba(255, 255, 255, 80%);
  border: 1px solid #3F4245; }

QLineEdit[readOnly="true"] {
  background-color: #343436;
  color: rgba(150, 150, 150, 80%); }

QLineEdit[readOnly="false"] {
  background-color: #4E4E52;
  color: rgba(255, 255, 255, 80%);
  border: 1px solid #3F4245; }

QCheckBox:indicator {
  width: 13px;
  height: 13px;
  border: 1px solid #3F4245;
  background-color: #4E4E52; }
  QCheckBox:indicator:unchecked:hover {
    /*image: url(:/images/checkbox_unchecked.png);*/
    background-color: #2D5373; }
  QCheckBox:indicator:checked:hover {
    /*image: url(:/images/checkbox_unchecked.png);*/
    background-color: #2D5373; }

QDialog {
  background-color: #3F4245;
  color: rgba(255, 255, 255, 80%); }

QDialogButtonBox QPushButton {
  background-color: #4E4E52;
  color: rgba(255, 255, 255, 80%);
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #2A2A2B; }
  QDialogButtonBox QPushButton:hover {
    background-color: #2D5373; }
  QDialogButtonBox QPushButton:pressed {
    background-color: #213D54; }
  QDialogButtonBox QPushButton:disabled {
    background-color: #343436; }

/* QProperties - Custom overrides referenced in code */
QWidget[model-entry] {
  background-color: #2A2A2B; }

QWidget[model-entry="text-normal"] {
  color: rgba(255, 255, 255, 80%); }

QWidget[model-entry="text-success"] {
  color: rgba(51, 153, 0, 100%); }

QWidget[model-entry="text-warning"] {
  color: rgba(217, 173, 0, 100%); }

QWidget[model-entry="text-error"] {
  color: rgba(204, 51, 0, 100%); }
