/*
 *   The Heartbeat Engine is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   The Heartbeat Engine is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with the Heartbeat Engine. If not, see <https://www.gnu.org/licenses/>.
 */
/*  Colors */
/* Text */
/* Misc */
QWidget {
  background-color: #3F4245; }

QToolBar {
  icon-size: 18px;
  /* maximum icon size */
  background-color: #3F4245;
  margin-top: 0; }
  QToolBar QToolButton {
    background-color: #3F4245;
    padding: 1px; }
    QToolBar QToolButton:hover {
      background-color: #2D5373;
      border-width: 1px;
      border-style: solid; }
    QToolBar QToolButton:pressed {
      background-color: #213D54; }

QTabWidget:pane {
  /* The tab widget frame */
  border-color: #2A2A2B;
  border-top: 1px solid #2A2A2B;
  padding: 0px; }

QTabBar:tab {
  border: 1px solid #2A2A2B;
  border-bottom: #3F4245;
  background-color: #3F4245;
  color: rgba(255, 255, 255, 80%);
  min-width: 50px;
  min-height: 20px; }
  QTabBar:tab:hover {
    background-color: #4F5357; }
  QTabBar:tab:selected {
    background-color: #54585C; }

QAbstractItemView {
  background-color: #2A2A2B;
  border: 1px solid #2A2A2B; }
  QAbstractItemView:item {
    color: rgba(255, 255, 255, 80%);
    selection-color: #54585C; }

QHeaderView:section {
  background-color: #3F4245; }

QTreeView {
  background-color: #2A2A2B; }

QScrollBar {
  /*border: $size_border solid $col_secondary*/ }
  QScrollBar:vertical {
    border: 1px solid #3F4245;
    background: #2A2A2B;
    width: 15px;
    margin: 22px 0 22px 0; }
  QScrollBar:handle:vertical {
    background: #46494D;
    min-height: 20px; }
  QScrollBar:add-line:vertical {
    border: 1px solid #0000FF;
    background: #FF0000;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin; }
  QScrollBar:sub-line:vertical {
    border: 1px solid #0000FF;
    background: #FF0000;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin; }
  QScrollBar:up-arrow:vertical {
    border: 2px solid #3F4245;
    width: 3px;
    height: 3px;
    background: white; }
  QScrollBar:down-arrow:vertical {
    border: 2px solid #3F4245;
    width: 3px;
    height: 3px;
    background: white; }
  QScrollBar:add-page:vertical {
    background: none; }
  QScrollBar:sub-page:vertical {
    background: none; }

QMenuBar {
  background-color: #3F4245;
  border-bottom: 1px solid #2A2A2B; }
  QMenuBar:item {
    background-color: #3F4245;
    color: rgba(255, 255, 255, 80%);
    padding: 4px 8px 4px 8px; }
    QMenuBar:item:selected {
      background-color: #4F5357; }
    QMenuBar:item:pressed {
      background-color: #54585C; }

QMenu {
  border: 1px solid #2A2A2B;
  background-color: #46494D;
  color: rgba(255, 255, 255, 80%); }
  QMenu:item {
    box-shadow: 0px 0px; }
    QMenu:item:selected {
      background-color: #2D5373; }

QLabel {
  color: rgba(255, 255, 255, 80%);
  font-size: 9pt; }
  QLabel#h1 {
    color: rgba(255, 255, 255, 80%);
    font-size: 12pt; }
  QLabel#text-soft {
    color: rgba(255, 255, 255, 70%);
    font-size: 9pt; }
  QLabel#text-soft-h1 {
    color: rgba(255, 255, 255, 70%);
    font-size: 12pt; }

/* QProperties - Custom overrides referenced in code */
QWidget[model-entry] {
  background-color: #2A2A2B; }

QWidget[model-entry="text-normal"] {
  color: rgba(255, 255, 255, 80%); }

QWidget[model-entry="text-success"] {
  color: rgba(51, 153, 0, 100%); }

QWidget[model-entry="text-warning"] {
  color: rgba(217, 173, 0, 100%); }

QWidget[model-entry="text-error"] {
  color: rgba(204, 51, 0, 100%); }
