/*
 *   The Heartbeat Engine is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   The Heartbeat Engine is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU General Public License for more details.
 *
 *   You should have received a copy of the GNU General Public License
 *   along with the Heartbeat Engine. If not, see <https://www.gnu.org/licenses/>.
 */

$col_primary: #2E2E2E;
$col_secondary: #323232;
QMainWindow{
    background-color: $col_primary;
}

QWidget{
    background-color: $col_primary;
}

QFrame{
    background-color: $col_secondary;
}

QMenuBar{
    background-color: $col_secondary;
}

QMenuBar::item{
    color: rgba(255, 255, 255, 0.87);
}

QLabel{
    color: rgba(255, 255, 255, 0.87);
}
